html{
  font-family: Norse-Bold, sans-serif, Arial, Helvetica;
}

@font-face {
  font-family: Norse-Bold;
  src: url(./font/Norse-Bold.otf);
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
}

.container1{
  height: 100vh;
  width: 25vw;
  background-image: url('./img/bg.jpg');
  background-size: cover;
  background-position: center;
}

.container2{
  height: 100vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

input[type="submit"]{
  
}

#signup-form {
  width: 100%;
}
.namecontainer{
  display: flex;
  gap: 10vw;
  margin-left: 30px;
}
.emailphonecontainer{
  display: flex;
  gap: 10vw;
  margin-left: 30px;
}
.passwordcontainer{
  display: flex;
  gap: 10vw;
  margin-left: 30px;
}

.flexcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.paragraph{
  margin-bottom: 5vh;
}

.submitdiv{
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  margin: 30px;
  gap: 30px;
}

.submitdiv > .smalltext{
  font-size: small;
}






